<div class="main">
    <div class="tabs">
        <div class="status-tab"><span id="status">All researches {{ allResearches }}</span>
            <hr>
        </div>
        <div class="status-tab"><span id="status">In Progress {{ inProgresResearches }}</span>
            <hr>
        </div>
        <div class="status-tab"><span id="status">Completed {{ completedResearches }}</span>
            <hr>
        </div>
    </div>
    <div class="paging-info">
        <!--change to variables-->
        Showing 1-8 of {{ allResearches }} results
        <hr>
    </div>
</div>