<header>
    <div style="display: flex; align-items: center;">
        <img class="logo"
            src="https://s3-alpha-sig.figma.com/img/f151/c642/8dcc908eed8fde4208228425de287f1b?Expires=1680480000&Signature=J67zZgDCsbFosu2NWSkc~6urs7Dft~biDOUecnskPbzYQPwn8NEGO5cgXi0riYXj6ZVTKX6vmopI3j0oLWwN1ZMR6FJbabZMaAX6ueo0KjboD3hXFeWBnp~EL-Ygova27LRxK77~0kLX3ADS0pwyTQb7OKcxO1cJNIIvfdOyL7gyCO7QyJTOsoVFCCtgWku0kZyfTMx6O0RAIGl~FU-uxFnfaUKfpxiL-XvPSVm6lZfJwdEli9wAaxU~5qW4m2YWaRAPLZn729LHZPFRg5Dve5Qw3BRSg5BttSKh3~cgcpoXyvvWx~0GDrxe~7OLVNUN7QEa45L7nzGQaBkGI07r0w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />
        <span class="title">
            Dashboard
        </span>
    </div>
</header>